<main>
  <section id="banner" class="banner">
    <div class="box">
      <h1>
        <span class="title1">Seja bem-vindo!</span>
        <span class="title2">Meu nome é Rafael Olegario</span>
        <span class="title3">Desenvolvedor Front End</span>
      </h1>

      <div class="buttons">
        <a href="#about">
          <!-- <i class="material-symbols-outlined">sentiment_satisfied</i> -->
          <i class="fa-solid fa-user-plus"></i>
          sobre mim
        </a>
      </div>

      <div class="linkIcons">
        <a href="https://github.com/rafaolegario" target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>

        <a href="https://www.linkedin.com/in/rafael-olegario-8448982b3/"
          target="_blank"><i class="fa-brands fa-linkedin"></i
        ></a>
        
      </div>
        <div class="arrow">
            <i class="fa-solid fa-arrow-down-long"></i>
        </div>
    </div>
  </section>

  <section id="about" class="container about">
    <div class="box">
      <div class="img">
        <img src="./assets/fotoPerfil.png" alt="Foto de Rafael Olegario">
      </div>
      <div class="text">
        <h2>Sobre mim</h2>
        <p>
          Tenho 18 anos e em 2023, dei meus primeiros passos na programação no Senai, onde me encantei pela linguagem C e descobri minha paixão pela tecnologia. Desde então, tenho buscado constantemente aprimorar minhas habilidades e conhecimentos nesse campo fascinante. Mal posso esperar para iniciar minha jornada acadêmica em 2025 na graduação de <b>Análise e Desenvolvimento de Sistemas</b>, também no Senai, onde espero explorar novas áreas. Atualmente meus estudos estão focados no desenvolvimento Front End utilizando <b>HTML5</b>, <b>CSS3</b>, <b>Javascript</b>, <b>Angular</b> e <b>Typescript</b>.

        </p>
        <p>
          Estou procurando ganhar minha primeira chance na área para aprender cada vez mais e adquirir experiências reais de trabalho. 😃  
        </p>
        <p>
          obs. Também utilizo linguagem <b>C++</b> direcionada a Arduíno no meu curso técnico atual no Senai.
        </p>
          <div class="aboutLinks">
            <a href="#contact">
              <i class="fa-solid fa-address-book"></i>
              entre em contato comigo!
            </a>

            <a href="" download="">
              <i class="fa-solid fa-download"></i>
              Currículo
            </a>
          </div>
      </div>
    </div>
  </section>
</main>
