<main>
  <section id="banner" class="banner">
    <div class="box">
      <h1>
        <span class="title1">Seja bem-vindo!</span>
        <span class="title2">Meu nome é Rafael Olegario</span>
        <span class="title3">Desenvolvedor Front End</span>
      </h1>

      <div class="buttons">
        <a href="#about">
          <!-- <i class="material-symbols-outlined">sentiment_satisfied</i> -->
          <i class="fa-solid fa-user-plus"></i>
          sobre mim
        </a>
      </div>

      <div class="linkIcons">
        <a href="https://github.com/rafaolegario" target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>

        <a href="https://www.linkedin.com/in/rafael-olegario-8448982b3/"
          target="_blank"><i class="fa-brands fa-linkedin"></i
        ></a>
        
      </div>
        <div class="arrow">
            <i class="fa-solid fa-arrow-down-long"></i>
        </div>
    </div>
  </section>

  <section id="about" class="container about">
    <div class="box">
      <div class="img">
        <img src="./assets/fotoPerfil.png" alt="Foto de Rafael Olegario">
      </div>
      <div class="text">
        <h2>Sobre mim</h2>
        <p>
          Tenho 18 anos e em 2023, dei meus primeiros passos na programação no Senai, onde me encantei pela linguagem C e descobri minha paixão pela tecnologia. Desde então, tenho buscado constantemente aprimorar minhas habilidades e conhecimentos na área. Mal posso esperar para iniciar minha jornada acadêmica em 2025 na graduação de <b>Análise e Desenvolvimento de Sistemas</b>, também no Senai, onde espero explorar novas áreas. Atualmente meus estudos estão focados no desenvolvimento Front End utilizando <b>HTML5</b>, <b>CSS3</b>, <b>Javascript</b>, <b>Angular</b> e <b>Typescript</b>.

        </p>
       
          <div class="aboutLinks">
            <a href="#contact">
              <i class="fa-solid fa-address-book"></i>
              entre em contato comigo!
            </a>

            <a href="" download="">
              <i class="fa-solid fa-download"></i>
              Currículo
            </a>
          </div>
      </div>
    </div>
  </section>

  <section id="skills" class="container skills">
    <div class="box">
      <h2>Habilidades Técnicas</h2>
      <h3>Confira minhas tecnologias e ferramentas preferidas.</h3>

      <div class="items">
        <div class="skills">
          <i class="devicon-html5-plain"></i>
          <h4>HTML</h4>
        </div>
        <div class="skills">
          <i class="devicon-css3-plain"></i>
          <h4>CSS</h4>
        </div>
        <div class="skills">
          <i class="devicon-javascript-plain"></i>
          <h4>Javascript</h4>
        </div>
        <div class="skills">
          <i class="devicon-angularjs-plain"></i>
          <h4>Angular</h4>
        </div>
        <div class="skills">
          <i class="devicon-typescript-plain"></i>
          <h4>Typescript</h4>
        </div>
        <div class="skills">
          <i class="devicon-mysql-original"></i>
          <h4>MySQL</h4>
        </div>
        <div class="skills">
          <i class="devicon-git-plain"></i>
          <h4>GIT</h4>
        </div>
        <div class="skills">
          <i class="devicon-github-original"></i>
          <h4>Github</h4>
        </div>
        <div class="skills">
          <i class="devicon-vscode-plain"></i>
          <h4>VS Code</h4>
        </div>
        <div class="skills">
          <i class="devicon-visualstudio-plain"></i>
          <h4>Visual Studio</h4>
        </div>

      </div>
    </div>
  </section>

  <section id="projects" class="container projects">
    
    <div class="box">
      
      <h2>Projetos</h2>
      <h3>Conheça mais dos projetos que eu construí e venho desenvolvendo</h3>

      <div class="project reverse">
        <div class="img">
          <img src="./assets/mockup.png" alt="">
        </div>
        <div class="text">
          <h4>Nome do projeto</h4>
  
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, iure eum! Veniam voluptatibus eum perspiciatis nesciunt repellat vel quae nemo impedit, sapiente tempora quas possimus porro, sunt quibusdam blanditiis velit. </p>
          <p class="tecnologiasProjects">Tecnologias: <br>
            <abbr title="HTML5"><i class="devicon-html5-plain"></i></abbr>
            <abbr title="ANGULAR"><i class="devicon-angularjs-plain"></i></abbr>
            <abbr title="CSS3"><i class="devicon-css3-plain"></i></abbr>
            <abbr title="TYPESCRIPT"><i class="devicon-typescript-plain"></i></abbr>
            
          </p>
          <div class="projectButtons">
            <a href="#">
              <i class="devicon-github-original"></i>
              repositório
            </a>
            <a href="#" class="live">
              <i class="fa-solid fa-eye"></i>
              ao vivo
            </a>
          </div>
        </div>
      </div>
      <div class="project">
        <div class="text">
          <h4>Nome do projeto</h4>
  
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, iure eum! Veniam voluptatibus eum perspiciatis nesciunt repellat vel quae nemo impedit, sapiente tempora quas possimus porro, sunt quibusdam blanditiis velit. </p>
          <div class="ToolsDiv">
            <p class="tecnologiasProjects">Tecnologias: <br>
              <abbr title="HTML5"><i class="devicon-html5-plain"></i></abbr>
              <abbr title="ANGULAR"><i class="devicon-angularjs-plain"></i></abbr>
              <abbr title="CSS3"><i class="devicon-css3-plain"></i></abbr>
              <abbr title="TYPESCRIPT"><i class="devicon-typescript-plain"></i></abbr>
            
            </p>
            <div class="projectButtons">
              <a href="#">
                <i class="devicon-github-original"></i>
                repositório
              </a>
              <a href="#" class="live">
                <i class="fa-solid fa-eye"></i>
                ao vivo
              </a>
            </div>
          </div>
        </div>
      
        <div class="img">
         <img src="./assets/mockup.png" alt="">
        </div>
       
      </div>
      <div class="project reverse">
        <div class="img">
          <img src="./assets/mockup.png" alt="">
        </div>
        <div class="text">
          <h4>Nome do projeto</h4>
  
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, iure eum! Veniam voluptatibus eum perspiciatis nesciunt repellat vel quae nemo impedit, sapiente tempora quas possimus porro, sunt quibusdam blanditiis velit. </p>
          <div>
            <p class="tecnologiasProjects">Tecnologias: <br>
              <abbr title="HTML5"><i class="devicon-html5-plain"></i></abbr>
              <abbr title="ANGULAR"><i class="devicon-angularjs-plain"></i></abbr>
              <abbr title="CSS3"><i class="devicon-css3-plain"></i></abbr>
              <abbr title="TYPESCRIPT"><i class="devicon-typescript-plain"></i></abbr>
            
            </p>
          </div>
  
          <div class="projectButtons">
            <a href="#">
              <i class="devicon-github-original"></i>
              repositório
            </a>
            <a href="#" class="live">
              <i class="fa-solid fa-eye"></i>
              ao vivo
            </a>
          </div>

        </div>
      </div>
     

      <div [class]="ProjectStatus ">
        <button (click)="MoreProjects()" id="btnFechar">x</button>
        <div class="project">
          <div class="text">
            <h4>Outros projetos</h4>
    
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, iure eum! Veniam voluptatibus eum perspiciatis nesciunt repellat vel quae nemo impedit, sapiente tempora quas possimus porro, sunt quibusdam blanditiis velit. </p>
            
            <div>
              <p class="tecnologiasProjects">Tecnologias: <br>
                <abbr title="HTML5"><i class="devicon-html5-plain"></i></abbr>
                <abbr title="ANGULAR"><i class="devicon-angularjs-plain"></i></abbr>
                <abbr title="CSS3"><i class="devicon-css3-plain"></i></abbr>
                <abbr title="TYPESCRIPT"><i class="devicon-typescript-plain"></i></abbr>
              
              </p>
            </div>
            <div class="projectButtons">
              <a href="#">
                <i class="devicon-github-original"></i>
                repositório
              </a>
              <a href="#" class="live">
                <i class="fa-solid fa-eye"></i>
                ao vivo
              </a>
            </div>
          </div>
        
          <div class="img">
           <img src="./assets/mockup.png" alt="">
          </div>
         
        </div>
        <div class="project reverse">
          <div class="img">
            <img src="./assets/mockup.png" alt="">
          </div>
          <div class="text">
            <h4>Outros projetos</h4>
    
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, iure eum! Veniam voluptatibus eum perspiciatis nesciunt repellat vel quae nemo impedit, sapiente tempora quas possimus porro, sunt quibusdam blanditiis velit. </p>
            <div>
              <p class="tecnologiasProjects">Tecnologias: <br>
                <abbr title="HTML5"><i class="devicon-html5-plain"></i></abbr>
                <abbr title="ANGULAR"><i class="devicon-angularjs-plain"></i></abbr>
                <abbr title="CSS3"><i class="devicon-css3-plain"></i></abbr>
                <abbr title="TYPESCRIPT"><i class="devicon-typescript-plain"></i></abbr>
              
              </p>
            </div>
            <div class="projectButtons">
              <a href="#">
                <i class="devicon-github-original"></i>
                repositório
              </a>
              <a href="#" class="live">
                <i class="fa-solid fa-eye"></i>
                ao vivo
              </a>
            </div>
          </div>
        </div>
       
        <div class="project">
          <div class="text">
            <h4>Outros projetos</h4>
    
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, iure eum! Veniam voluptatibus eum perspiciatis nesciunt repellat vel quae nemo impedit, sapiente tempora quas possimus porro, sunt quibusdam blanditiis velit. </p>
            <div>
              <p class="tecnologiasProjects">Tecnologias: <br>
                <abbr title="HTML5"><i class="devicon-html5-plain"></i></abbr>
                <abbr title="ANGULAR"><i class="devicon-angularjs-plain"></i></abbr>
                <abbr title="CSS3"><i class="devicon-css3-plain"></i></abbr>
                <abbr title="TYPESCRIPT"><i class="devicon-typescript-plain"></i></abbr>
              
              </p>
            </div>
            <div class="projectButtons">
              <a href="#">
                <i class="devicon-github-original"></i>
                repositório
              </a>
              <a href="#" class="live">
                <i class="fa-solid fa-eye"></i>
                ao vivo
              </a>
            </div>
          </div>
        
          <div class="img">
           <img src="./assets/mockup.png" alt="">
          </div>
         
        </div>
      </div>

      <button (click)="MoreProjects()">
        {{MoreText}}
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </button>
    </div>

 
   
  </section>
</main>
