<main>
  <section id="banner" class="banner">
    <div class="box">
      <h1>
        <span class="title1">Seja bem-vindo!</span>
        <span class="title2">Meu nome é Rafael Olegario</span>
        <span class="title3">Desenvolvedor Front End</span>
      </h1>

      <div class="buttons">
        <a href="#about">
          <!-- <i class="material-symbols-outlined">sentiment_satisfied</i> -->
          <i class="fa-solid fa-user-plus"></i>
          sobre mim
        </a>
      </div>

      <div class="linkIcons">
        <a href="https://github.com/rafaolegario" target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>

        <a href="https://www.linkedin.com/in/rafael-olegario-8448982b3/"
          target="_blank"><i class="fa-brands fa-linkedin"></i
        ></a>
        
      </div>
        <div class="arrow">
            <i class="fa-solid fa-arrow-down-long"></i>
        </div>
    </div>
  </section>
</main>
